<table class="w-full">
    <tr>
        <td class="w-full px-[20px]">
            <table class="w-full align-left-table">
                <tr>
                    <td class="pb-[15px] text-black text-[12px] leading-[14px] text-left font-bold">
                        Sint occaecat cupidatat:
                    </td>
                </tr>
                <tr>
                    <td class="w-full pb-[18px]">
                        <table class="w-full align-left-table">
                            <tr>
                                <td class="w-[3%] text-black text-[12px] leading-[14px] text-right align-top whitespace-nowrap">1.</td>
                                <td class="w-[1%]"> </td>
                                <td class="w-[97%] text-black text-[12px] leading-[14px] text-left align-top">
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </td>
                            </tr>
                            <tr>
                                <td class="w-[3%] text-black text-[12px] leading-[14px] text-right align-top whitespace-nowrap">2.</td>
                                <td class="w-[1%]"> </td>
                                <td class="w-[97%] text-black text-[12px] leading-[14px] text-left align-top">
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="h-[1px] bg-[#002B2B]"></td>
                </tr>

                <tr>
                    <td class="w-full pb-[20px] sm:pb-[30px] align-center-table">
                        <table class="w-full align-center-table">
                            <tr>
                                <td class="text-black text-[12px] leading-[14px] text-center py-[20px]">
                                    Sed do eiusmod tempor incididunt ut labore
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center align-center-table">
                                    <x-image class="pointer-events-none w-[100px] max-w-[100px]" imgUrl="image-2.png" alt="Logo" href="#" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                
            </table>
        </td>
    </tr>
</table>
