<table class="w-full">
    <tr>
        <td class="w-full align-middle p-[20px]">
            <table class="w-full align-center-table">
                <tr>
                    <td class="w-1/5">
                        <x-image class="pointer-events-none w-[110px] max-w-[110px]" imgUrl="image-2.png" alt="Logo" href="#" />
                    </td>

                    <td class="w-4/5 pl-[20px] text-[#002B2B] text-[12px] leading-[14px] text-left sm:pl-[15px]">
                       Ut enim ad minim veniam, quis nostrud exercitation ullamco <br class="block sm:hidden xs:hidden"> laboris nisi ut aliquip ex ea commodo consequat.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
