<table class="w-full">
    <tr>
        <td class="w-full pb-[40px]">
            <table class="w-full">
                <tr>
                    <td class="w-full px-[20px] sm:px-[0px] xs:px-[0px]">
                        <table class="w-full align-center-table">
                            <tr>
                                <td>
                                    <x-image class="w-[560px] sm:w-full pointer-events-none" imgUrl="image-1.png" alt="Email Header Banner" href="#" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
               <tr>
                <td class="w-full px-[50px] sm:px-[20px] xs:px-[20px] align-center-table">
                    <table class="align-center-table w-full">
                        <tr>
                            <td class="pt-[30px] text-[#005555] text-[24px] leading-[30px] text-center font-bold">
                                Excepteur sint occaecat cupidatat 
                             </td>
                        </tr>
                        <tr>
                            <td class="py-[25px] text-[#444444] text-[16px] leading-[18px] text-center">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                            </td>
                        </tr>
                    </table>
                </td>
               </tr>
               <tr>
                <td class="w-full px-[20px] align-center-table">
                    <table class="w-full align-center-table">
                        <tr>
                            <td class="text-center">
                                <x-button
                                width="350"
                                height="45"
                                leading="24"
                                padding="10px 18px"
                                rounded="10"
                                bgColor="#008080"
                                href="#"
                                class="font-bold bg-[#008080] text-white text-[20px] py-[10px] px-[18px] xs:w-full sm:w-full"
                                >Ut enim ad minim veniam
                                </x-button>
                                
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table>
