<table class="w-full">
    <tr>
        <td class="w-full p-[20px] pt-[30px]">
            <table class="w-full align-left-table">
                <tr>
                    <td class="pb-[15px] text-black text-[12px] leading-[14px] text-left font-bold">
                        Ut enim ad minim:
                    </td>
                </tr>
                <tr>
                    <td class="pb-[15px] text-black text-[12px] leading-[14px] text-left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    </td>
                </tr>
                <tr>
                    <td class="pb-[5px] text-black text-[12px] leading-[14px] text-left">
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
